<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.closet.closet.mapper.ClothMapper">

	<resultMap id="ClothMap" type="Cloth">
		<result property="itemNo" column="ITEM_NO"/>	
		<result property="comItemNo" column="COM_ITEM_NO"/>
	</resultMap>

	<insert id="insertCloth" parameterType="Cloth">
		<selectKey resultType="string" keyProperty="itemNo" order="BEFORE">
        	SELECT TO_CHAR(SYSDATE,'YYYY') || #{comItemNo}  FROM CLOTH        
    	</selectKey>  
  		INSERT INTO
  			CLOTH
  			(COM_ITEM_NO
  			) VALUES  
  			(#{comItemNo}
  			)
  	</insert>
  	
</mapper>