<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.closet.closet.mapper.UserMapper">

	<resultMap id="UserMap" type="User">
		<result property="userId" column="USER_ID"/>
		<result property="deleted" column="DELETED"/>
		<result property="phone" column="PHONE"/>
		<result property="userName" column="USER_NAME"/>
		<result property="rgstDate" column="RSGT_DATE"/>
		<result property="password" column="PASSWORD"/>		
	</resultMap>
	
	<resultMap id="GoogleAuth" type="GoogleJWT">
		<result property="iss" column="ISS"/>
		<result property="azp" column="AZP"/>
		<result property="aud" column="AUD"/>
		<result property="sub" column="SUB"/>
		<result property="at_hash" column="AT_HASH"/>
		<result property="hd" column="HD"/>
		<result property="email" column="EMAIL"/>		
		<result property="email_verifired" column="EMAIL_VERIFIRED"/>		
		<result property="iat" column="IAT"/>		
		<result property="exp" column="EXP"/>			
		<result property="nonce" column="NONCE"/>			
		<result property="name" column="NAME"/>			
		<result property="profile" column="PROFILE"/>				
	</resultMap>
	
	<resultMap id="ClothMap" type="Cloth">
		<result property="itemNo" column="ITEM_NO"/>	
		<result property="comItemNo" column="COM_ITEM_NO"/>
	</resultMap>

	<select id="getUser" parameterType="String" resultMap="UserMap" >
		SELECT * FROM USERINFO
			WHERE USER_ID = #{userId}
			  AND PASSWORD = #{password}
	</select>

  	<insert id="insertUser" parameterType="User">
  		INSERT INTO USERINFO
  			(
  			  USER_ID
  			, PASSWORD
  			, PHONE
  			, DELETED_YN
  			, E_MAIL
  			) VALUES  
  			(
  			 #{userId, jdbcType=VARCHAR}
  			,#{password, jdbcType=VARCHAR}
  			,#{phone, jdbcType=VARCHAR}
  			,'N'
  			, #{userId, jdbcType=VARCHAR}
  			)
  	</insert>
  	
  	<select id="checkUser" parameterType="User" resultType="String">
  		SELECT COUNT(*) CNT
  		  FROM USERINFO 
  		 WHERE USER_ID = #{userId}	
  	</select> 
  	
  	<update id="updateUser" parameterType="User">
  		UPDATE USER
  			SET PHONE = #{phone}
  			AND USER_NAME = #{userName}
  		WHERE USER_ID = #{userId}
  	</update>
  	
  	<select id="getClothList" parameterType="String" resultMap="ClothMap" >
		SELECT * FROM CLOTH_TRACK
			WHERE USER_ID = #{userId}
	</select>
	
	<insert id="registerGoogleUserInfo" parameterType="GoogleJWT">
		INSERT INTO USERINFO
  			(
  			  USER_ID
  			, PASSWORD
  			, PHONE
  			, DELETED_YN
  			, E_MAIL
  			) VALUES  
  			(
  			 #{EMAIL, jdbcType=VARCHAR}
  			,#{AZP, jdbcType=VARCHAR}
  			,#{PROFILE, jdbcType=VARCHAR}
  			,'N'
  			, #{EMAIL, jdbcType=VARCHAR}
  			)
	</insert>
	
	<select id="getGoogleUserInfo" parameterType="GoogleJWT" resultMap="UserMap">
		SELECT USER_ID
		     , E_MAIL
		  FROM USERINFO
		 WHERE USER_ID = #{sub}
	</select>
</mapper>
